<div class="edit-title">
    <h1>Edit task</h1>
  </div>
  <form action="" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="edit-field">
      <h2>Title</h2>
      <div class="edit-input">
          <i class="fa-solid fa-user"></i>
        <input type="text" formControlName="title" id="" required/>
      </div>
    </div>
    <div class="edit-field">
      <h2>Author</h2>
      <div class="edit-input">
          <i class="fa-solid fa-user"></i>
        <input type="text" formControlName="author" id="" required/>
      </div>
    </div>
    <div class="edit-field">
      <h2>Description</h2>
      <textarea formControlName="description" id="" cols="30" rows="10" required></textarea>
    </div>
    <div class="edit-buttons">
      <a routerLink="/">Cancel</a>
      <input type="submit" value="Edit" [disabled]="!editForm.valid"/>
    </div>
  </form>