.edit-title{
    width: 100%;
    padding: 20px 60px 20px 60px;
    background-color: var(--background-dark);
    border-radius: 0 0 10px 10px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-table-light);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-table-light);
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px var(--background-dark);
}

form .edit-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

form .edit-field:first-child{
    margin-top: 10px;
}

form .edit-field h2{
    font-size: 20px;
    font-weight: bold;
    color: var(--color-alternative-dark);
    margin-bottom: 10px;
}

form .edit-field .edit-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

form .edit-field .edit-input i{
    width: 10%;
    padding: 7px;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 7px 0 0 7px;
    text-align: center;
    font-size: 20px;
    color: var(--color-alternative-dark);
}

form .edit-field .edit-input input{
    width: 90%;
    padding: 7px;
    border: 2px solid transparent;
    border-radius: 0 7px 7px 0;
    font-size: 17px;
    transition: all .4s ease;
}

form .edit-field textarea{
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 7px;
    font-size: 17px;
    margin-bottom: 10px;
}

form .edit-error{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

form .edit-error label{
    font-size: 15px;
    font-weight: bold;
    color: red;
}

form .edit-buttons{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

form .edit-buttons a{
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    transition: all .4s ease;
}

form .edit-buttons a:hover{
    background-color: var(--color-principal);
}

form .edit-buttons input{
    padding: 10px 30px 10px 30px;
    background-color: var(--color-alternative-dark);
    color: var(--color-table-light);
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease;
}

form .edit-buttons input:hover{
    background-color: var(--color-alternative);
}

form .edit-buttons input:disabled{
    opacity: 0.7;
}