<div class="create-title">
  <h1>Create task</h1>
</div>
<form action="" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div class="create-field">
    <h2>Title</h2>
    <div class="create-input">
        <i class="fa-solid fa-user"></i>
      <input type="text" formControlName="title" id="" required/>
    </div>
  </div>
  <div class="create-field">
    <h2>Author</h2>
    <div class="create-input">
        <i class="fa-solid fa-user"></i>
      <input type="text" formControlName="author" id="" required/>
    </div>
  </div>
  <div class="create-field">
    <h2>Description</h2>
    <textarea formControlName="description" id="" cols="30" rows="10" required></textarea>
  </div>
  <div class="create-buttons">
    <a routerLink="/">Cancel</a>
    <input type="submit" value="Create" [disabled]="!taskForm.valid"/>
  </div>
</form>
